* {
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
}

.clearfix {
  clear: both;
}

body {
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(http://thumbs.imagekind.com/5582492_650/Seattle-Skyline-in-Sunrise_art.jpg?v=1506005432);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #75dff9;
  height: 100%;
}

header {
  background-color: #75dff9;
}

ul {
  margin: 0;
  list-style: none;
}

a, a:active {
  text-decoration: none;
  display: inline;
  color: black
}
