* {
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
}

.clearfix {
  clear: both;
}

body {
  background-color: #A7FFEB;
  height: 100%;
}

header {
  background-color: #00BFA5;
  height: 10vh;
}

footer {
  background-color: #00BFA5;
}

ul {
  margin: 0;
  list-style: none;
}

a, a:active {
  text-decoration: none;
  display: inline;
  color: black
}
