.fa-bars {
  position: relative;
  top: 2vh;
  left: 5vw;
}

.socialIcons {
  float: right;
  margin: 2vh 3vw 1vh 0;
}

.socialIcons li {
  margin: 0 1vw;
}

.content {
  margin-top: 10vh;
}

.home p{
  padding: 0 4vw;
  line-height: 1.4;
}

#headShot {
  text-align: center;
}

.jobs, .projects, .contact {
  padding: 2vh 10vw;
}

p {
  margin: .8vh 0;
}

#phone p {
  margin-bottom: 0;
}

footer {
  width: 100%;
  text-align: center;
}

footer p {
  padding-top: 3vh;
  margin: 0;
}

@media screen and (min-width: 800px){
  .socialIcons {
    margin: 3vh 3vw;
  }

  .socialIcons li {
    margin: 0 .5vw;
  }

  .navbar {
    position: relative;
    top: -5.5vh;
  }

  .home {
    margin-top: 10vh;
  }

  .jobs, .projects, .contact {
    padding: 3vh 6vw;
  }
}
