.fa-bars {
  position: relative;
  top: 2vh;
  left: 5vw;
}

.socialIcons {
  float: right;
  margin: 2vh 3vw;
}

.socialIcons li {
  margin: 0 1vw;
}

.home p{
  padding: 0 4vw;
  line-height: 1.4;
}

#headShot {
  text-align: center;
}

.jobs, .projects, .contact {
  padding: 0 10vw;
}

p {
  margin: .8vh 0;
}

@media screen and (min-width: 800px){
  header {
    height: 8vh;
  }

  .socialIcons {
    margin: 3vh 3vw;
  }

  .socialIcons li {
    margin: 0 .5vw;
  }

  .navbar {
    position: relative;
    top: -5.5vh;
  }

  .home {
    margin-top: 10vh;
  }
}
