.navbar {
  height: 4vh;
  width: 50vw;
}

.navbar a {
  padding: 0 5vw;
}

@media screen and (min-width: 800px){
  .navbar a {
    padding: 0 2vw;
  }
  .fa-bars {
    display: none;
  }
  .navbar {
    padding: 0;
  }
}
