.fa-bars {
  font-size: 3vh;
}

.content {
  min-height: calc(100vh - 40px);
}

.home, .jobs {
  background-color: white;
}

.projects, .contact {
  background-color: #E0F7FA;
}

.home p {
  text-align: center;
  margin: 2vh 0;
}

.home img {
  border-radius: 100%;
  height: 150px;
}

footer {
  height: 50px;
  padding-left: 20px;
}

.navbar {
  height: 4vh;
}

.navbar li, .socialIcons li {
  display: inline;
}

.navbar a {
  padding: 0 2vw;
}

.projects li, .jobs li {
  padding-bottom: 3vh;
}

#nameLine {
  font-size: 3em;
}

@media screen and (min-width: 800px){
  .background {
    padding: 5vh 0 82vh;
  }

  .navbar {
    padding: 0;
    width: 75vw;
  }

  .navitem {
    display: inline!important;
  }

  .navbar a {
    padding: 0 2vw;
  }

  .socialIcons, .navbar li {
    font-size: 1.5em;
  }

  .fa-bars {
    display: none;
  }

  .home p {
    font-size: 1.5em;
    margin: 6vh 0;
  }

  #nameLine {
    font-size: 4em;
  }

  .home img {
    height: 200px;
  }
}
