.background {
  height: 100%;
  background-color: rgba(255, 255, 255, .6);
  padding: 5vh 0 79vh;
}

.navbar {
  height: 4vh;
}

.navbar li, .socialIcons li {
  display: inline;
}

.navbar a {
  padding: 0 2vw;
}

.projects li, .jobs li {
  padding-bottom: 3vh;
}

.home p {
  text-align: center;
}

.home img {
  border-radius: 100%;
  height: 150px;
}

#nameLine {
  font-size: 2em;
}

@media screen and (min-width: 800px){
  .background {
    padding: 5vh 0 82vh;
  }

  .navbar {
    padding: 0;
    width: 50vw;
  }

  .navbar a {
    padding: 0 2vw;
  }

  .socialIcons, .navbar li {
    font-size: 1.5em;
  }

  .fa-bars {
    display: none;
  }

  .home p {
    font-size: 2em;
  }
}
